<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <img class="logo" src="../../../../assets/logocrop.png" class="m-3 my-3" height="100px">
    <mat-nav-list>
      <a mat-list-item routerLink="home" class="">Dashboard <fa-icon [icon]="faCat"></fa-icon> </a>
      <a mat-list-item routerLink="users">Users <fa-icon [icon]="faUser"></fa-icon> </a>
      <a mat-list-item routerLink="category">Category <fa-icon [icon]="faCat"></fa-icon>  </a>
      <a mat-list-item routerLink="products">Products <fa-icon [icon]="faTshirt"></fa-icon>  </a>
      <a mat-list-item routerLink="link">Orders <fa-icon [icon]="faShoppingBag"></fa-icon> </a>
      <a mat-raised-button color="warn" (click)="doLogout()">Logout <fa-icon [icon]="faSignOutAlt"></fa-icon>  </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span routerLink="home">{{title}}</span>
    </mat-toolbar>
  
    <div class="mx-5"> 
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
