<div class="container tableBg">
  <div class="table table-striped">
    <table class="table responsive">
      <thead>
        <th>No</th>
        <th scope="col" *ngFor="let head of tableCols" (click)="sort(head.Field)">{{head.Head}}</th>
        <th class="text-center">Action</th>
      </thead>
      <tbody>
        <tr scope="col" *ngFor="let data of tableData| orderBy : ParamData.sortBy : ParamData.sort_direction |paginate: {
            itemsPerPage: ParamData.size,
            currentPage: ParamData.page,
            totalItems: ParamData.totalRecords }; let no=index">
          <td>{{ParamData.size * ParamData.page - ParamData.size + no+1}}</td>
          <td *ngFor="let head of tableCols">{{data[head.Field]}}</td>
          <td>
            <div class="d-flex">
              <button *ngFor="let action of actionArray" (click)="detectActionEvent(action.function,data)"
                class="{{action.class}} mx-1">{{action.icon}}</button></div>
          </td>
        </tr>
      </tbody>
    </table>
    <div>
      <pagination-controls (pageChange)="handlePageChange($event)"></pagination-controls>
    </div>

  </div>
</div>
