<div class="container tableBg">
  <div class="table table-striped">
    {{pageSize}}- {{page}} - {{totalRecords}}
    <table class="table">
      <thead>
        <th>No</th>
        <th scope="col" *ngFor="let head of tableCols">{{head.Head}}</th>
      </thead>
      <tbody>
        <tr scope="col"
          *ngFor="let data of tableData |paginate: {
            itemsPerPage: pageSize,
            currentPage: page,
            totalItems: totalRecords }; let no=index">
          <td>{{pageSize * page - pageSize + no+1}}</td>
          <td *ngFor="let head of tableCols">{{data[head.Field]}}</td>
        </tr>
      </tbody>
    </table>
    <div>
      <pagination-controls (pageChange)="handlePageChange($event)"></pagination-controls>
    </div>

  </div>
</div>
