<div class="grid-container">

<h1 class="mat-h1">Dashboard</h1>

<div class="row my-5">
  <mat-card class="col-3 m-auto">
    <mat-card-title class="m-3">Users</mat-card-title>
    <mat-card-content>10</mat-card-content>
  </mat-card>
  <mat-card class="col-3 m-auto">
    <mat-card-title class="m-3">Products</mat-card-title>
    <mat-card-content>10</mat-card-content>
  </mat-card>
  <mat-card class="col-3 m-auto">
    <mat-card-title class="m-3">Orders</mat-card-title>
    <mat-card-content>10</mat-card-content>
  </mat-card>
</div>

<mat-card>
  <mat-card-title>User Details</mat-card-title>
  <mat-card-content>
    <app-table-grid 
    [tableCols]="cols" 
    [tableData]="data" 
    [ParamData] = "ParamData"
    [actionArray] = "actionArray"
    (editActionEvent) = "editAction($event)"
    (deleteActionEvent) = "deleteAction($event)"
    (ParamsDataEvent)="changeParams($event)">
    </app-table-grid>
  </mat-card-content>

</mat-card>
  



 

</div>

